<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <style>
        a {
            box-shadow: 3px 3px 10px black;
            padding: 10px;
            text-decoration: none;
            font-size: medium;
            font-weight: 600;
            border-radius: 10px;
            animation: bcolor 0.5s linear infinite;
            color: white;
        }
        @keyframes bcolor {
            0%{background: linear-gradient(45deg, rgb(70, 70, 245),rgb(212, 57, 57),yellow,green);}
            50%{background: linear-gradient(45deg, green,rgb(212, 57, 57),rgb(70, 70, 245),yellow);}
            100%{background: linear-gradient(45deg,yellow, rgb(212, 57, 57),green,rgb(70, 70, 245));}
        }
        a:hover {
            box-shadow: 3px 3px 20px black;
        }
    </style>
</head> -->
<%- include("includes/head.ejs"); %>
<body>
    <%- include("includes/footer.ejs"); %>
    <!-- <a type="button" href="https://mail.google.com/mail/u/0/#inbox?compose=new">Gmail</a> -->
</body>
</html>