<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h2> <%= 3*3 %></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus explicabo necessitatibus porro, maxime soluta sapiente delectus quasi nulla, totam, nemo eligendi placeat officia tempore? Sint sequi ratione velit recusandae autem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni odio harum enim consequatur, ea blanditiis hic excepturi sequi voluptatem iusto maxime assumenda deserunt! Vero commodi possimus soluta nulla? Quasi, atque.
        Cumque corrupti consequatur sit atque? Voluptate, odit debitis quis iure quo reiciendis distinctio possimus officiis recusandae quaerat. Cumque velit veritatis blanditiis mollitia, temporibus vel voluptatibus officiis, optio sapiente fuga distinctio.
    </p>
    <%- include("includes/footer.ejs"); %>
</body>
</html>