<%- include("includes/head.ejs") %>
<body>
    <h1>Dice gave value : <%= diceVal %> </h1>
    <% if(diceVal == 6 ) { %>
        <h2>Nice! Roll the dice again.</h2>
    <% } %>
    <button>Refersh the page</button>

    <%- include("includes/footer.ejs"); %>
    <script>
        let btn = document.querySelector("button");
        btn.addEventListener("click",()=>{
            location.reload();
        })
    </script>
</body>
</html>