<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form id="newForm" action="/chats" method="post">
        <label for="from">Name</label>
        <input type="text" name="from" id="from" placeholder="Enter Your name"><br>
        <label for="msg">Enter Your Message</label>
        <textarea name="msg" id="msg" placeholder="Enter your Message" rows="6"></textarea><br>
        <label for="to">Recever Name</label>
        <input type="text" name="to" id="to" placeholder="Enter recever name"><br>
        <button>Submit</button>
    </form>

</body>
</html>