.loader {
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    height: 120px;
    width: 120px;
    display: inline-block;
    box-shadow: 10px 10px 100px rgb(233, 53, 53) ;
    animation:spin 2s linear infinite;
}

.loader:hover {
    box-shadow: 10px 10px 100px green;
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}